<div class="index-div bg-blur border border-white">
    <h1>Wellcom to "Central Bus Station"</h1>
    <hr class="bg-primary w-75">
    <h3>On our platform you can book a tickets for your dream destination.</h3>
 </div>

